packages:
  yum:
    install:
      - cmake
      - gcc
      - gcc-c++
      - make
      - git
      - python3-devel

commands:
  01_install_lightgbm_dependencies:
    command: >
      sudo yum install -y libboost-dev libboost-system-dev libboost-filesystem-dev &&
      git clone --recursive https://github.com/microsoft/LightGBM && 
      cd LightGBM && 
      mkdir build && 
      cd build && 
      cmake .. && 
      make -j4

  02_install_xgboost_dependencies:
    command: >
      git clone --recursive https://github.com/dmlc/xgboost && 
      cd xgboost && 
      mkdir build && 
      cd build && 
      cmake .. && 
      make -j4

container_commands:
  01_copy_lightgbm_to_usr_bin:
    command: "sudo cp /opt/python/current/app/LightGBM/lightgbm /usr/bin/lightgbm"

  02_copy_xgboost_to_usr_bin:
    command: "sudo cp /opt/python/current/app/xgboost/xgboost /usr/bin/xgboost"

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
