{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <h1>Welcome to My Machine Learning Project</h1>
    <section class="project">
        <h2>Adult Census Income Prediction</h2>
        <p>
            The significant disparity in wealth and income, particularly in the United States, is a major concern. Reducing global economic inequality can contribute to reducing poverty. Ensuring universal moral equality promotes sustainable development and enhances a nation's economic stability. Governments worldwide are striving to address this issue and find effective solutions.
        </p>

        <p>
            This project employs exploratory data analysis and machine learning algorithms to tackle income inequality, specifically using the kaggel Adult Dataset. The goal is to predict whether an individual's annual income in the US falls into the category of over 50K dollars or equal to or less than 50K dollars, based on specific attributes. The employed Gradient Boosting Classifier Model achieved an accuracy of around 86%. 
        </p>
    </section>

{% endblock %}
 

